
/***  Skin Styles  ***/

body			{ color: #595959; } /* default font color */
#Wrapper, body	{
	background-attachment: fixed;
	background-image: url(images/skins/skin-2/bodyBg.jpg);
	background-color:#000;
	background-repeat: no-repeat;
	background-position: center -60px;
}	/* background color/graphic */

/* logo */

#Logo a		{  padding-left: 30px; padding-top:5px; }
#Logo a.matt { padding-left: 0px; padding-top:0px; }
.logoMark	{ background-image: url("images/skins/skin-2/logoSymbol-small.png"); }	
	
/* links and menus */

a, a:link, a:visited							{ color: #006D9A; }	/* default links */
a:hover, a:active								{ color: #5d872f; }	/* default hover */

.ribbon span a:link, .ribbon span a:visited 	{ color: #fff; }	/* ribbon links (wrap around graphic)  */
.ribbon span a:hover, .ribbon span a:active 	{ color: #006D9A; }	/* ribbon hover */

#Footer a:link, #Footer a:visited,
#ContentPanel a:link, #ContentPanel a:visited	{ color: #fff; }	/* dark backgrounds */
#Footer a:hover, #Footer a:active,
#ContentPanel a:hover, #ContentPanel a:active	{ color: #ff3; }	/* dark backgrounds, hover */

/* main menu */

#MmLeft		{ background-image: url("images/skins/skin-2/mainMenu-left.png"); }		/* menu background graphics */
#MmRight	{ background-image: url("images/skins/skin-2/mainMenu-right.png"); }
#MmBody		{ 

/*background-image: url("images/skins/skin-2/mainMenu-repeat.png"); */

min-width: 200px; height: 50px;

 }
.mmDivider	{ background-image: url("images/skins/skin-2/mainMenu-divider.gif"); }


#MainMenu li { border-right:1px dotted #666666; }

#MainMenu a:link, #MainMenu a:visited { color: #b1b1b1; font-weight:normal; text-transform:uppercase; font-family: "Liberation Sans",Arial,Helvetica,Garuda,sans-serif; }			/* links - top level */
#MainMenu a:hover, #MainMenu a:active { color: #005eaf; text-decoration:none; }			/* hover - top level */
#MainMenu li li a:link, #MainMenu .sf-menu li li a:visited 			{ color: #fff; }			/* links - sub-menus  */
#MainMenu .sf-menu li li { background: #013e79; }	/* background color - sub-menus */
#MainMenu .sf-menu li li li	{ background: #013e79; }	/* background color - sub-sub-menus */
#MainMenu .sf-menu li li:hover, #MainMenu .sf-menu li li.sfHover, 
#MainMenu .sf-menu li li a:focus, #MainMenu .sf-menu li li a:hover, 
#MainMenu .sf-menu li li a:active { background: #508528; color: #fff;}	/* hover - sub-menus */

/* headings */

h1, h2, h3, h4, h5, h6, .headline, .title, 
.ribbon span, #fancybox-title-main						{ color: #126A9D; }	/* default headings color */
.headline												{ color: #696969; }	/* headlines (page titles, etc) */
h1 strong, h2 strong, h3 strong, h4 strong, h5 strong, 
h6 strong, .headline strong, .title strong 				{ color: #000; }	/* headline accent (added using <strong>inside</strong> heading) */



h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, 
.headline span, .title span								{ color: #000;}		/* sub-heading text (added using <span>inside</span> heading */	
#Footer h1, #Footer h2, #Footer h3, #Footer h4, 
#Footer h5, #Footer h6, #ContentPanel h1, 
#ContentPanel h1, #ContentPanel h2, #ContentPanel h3, 
#ContentPanel h4, #ContentPanel h5, #ContentPanel h6	{ color: #eee;} 	/* headings on dark/color background areas */
#ContentPanel h1 span, #ContentPanel h2 span, 
#ContentPanel h3 span, #ContentPanel h4 span, 
#ContentPanel h5 span, #ContentPanel h3 span, 
#ContentPanel.headline span, #ContentPanel.title span	{ color: #D2ECF2;} 	/* sub-heading text on dark/color background areas */
#cluetip h3												{ color: #eee; }	/* tool tip titles */

/* other text */

.ribbon span 						{ color: #FFF3C4; }	/* ribbon text (wrap around graphic) */
#Footer, #ContentPanel, #cluetip	{ color: #9FC6D0; }	/* text on dark/color background areas */

/* forms and inputs */

input 					{ color: #000; }	/* input text color */
textarea, .textInput 	{ background-color: #E1E2E3; background-image: url("images/skins/skin-2/inputBg.gif");	/* input background */
						  border-color: #C9CACB #fff #fff #C9CACB;}	/* input border color */
label.overlabel			{ color: #B3B4B4; }	/* text input labels */

/* image containers */

a.img, div.img			{ border: 1px solid #CAD9DD; background: #fff;}			/* default container with class="img" */
a.img img, div.img img 	{ border: 1px solid #f3f3f3; }							/* inner image border for default container */
a.imgHover				{ background-color: #E4EFF2; border-color: #97BFD7; }	/* hover effect - container */
a.img:hover img			{ border-color: #fff; }									/* hover effect - image */

/* design structure */

.pageTop			{ background-image: url("images/skins/skin-2/pageBg-top.png"); }		/* page top */
.pageBottom			{ background-image: url("images/skins/skin-2/pageBg-bottom.png"); }	/* page bottom */
#Header, .pageMain	{ background-image: url("images/skins/skin-2/pageBg-repeat.png"); }	/* repeating page graphic */
#FooterTop			{ background-image: url("images/skins/skin-2/footerBg-top.png"); }	/* footer top */
#FooterContent		{ background-image: url("images/skins/skin-2/footerBg-repeat.png"); }	/* repeating footer graphic */
#FooterBottom		{ background-image: url("images/skins/skin-2/footerBg-bottom.png"); }	/* footer bottom */
#Footer .one-third, #Footer .two-thirds, #Footer .half-page
					{ background-image: url("images/skins/skin-2/footerBg-verticalRule.gif"); }	/* footer - content dividers */	
#ContentPanel 	{ background:#004488;} /* top reveal - hidden top content area */

/* search */

#Search { background-image: url("images/skins/skin-2/search-bg.gif"); }

/* slide show - default, jQuery cycle plugin */

#SlideTop		{ background-image: url("images/skins/skin-2/pageBg-slideTop.png"); }		/* top graphic for rounded corners */
#SlideRepeat	{ background-image: url("images/skins/skin-2/pageBg-slideRepeat.png"); }	/* edges to create slide frame */
#SlideBottom	{ background-image: url("images/skins/skin-2/pageBg-slideBottom.png"); }	/* bottom for curved border */
#Slides			{ background: #fff; }	/* background color (should match page if using transparent images) */
a.slidePrev, span#fancybox-left-ico		{ background-image: url("images/skins/skin-2/slide-previous.png"); }	/* previous slide button */
a.slideNext, span#fancybox-right-ico		{ background-image: url("images/skins/skin-2/slide-next.png"); }		/* next slide button */
#slidePager a, #slidePager a:visited 	{ background-image: url("images/skins/skin-2/slide-pager.png"); }		/* jump to slide  */

/* slide show - cu3er */

#Slideshow-cu3er { background-image: url("images/skins/skin-2/pageBg-repeat.png");}	/* repeat background behind cu3er (not shadow) */
	
/* slide show - GalleryView */

#SlideShow-GalleryView { background-image: url("images/skins/skin-2/pageBg-repeat.png");}
#GalleryView .pointer { border-bottom-color: #fff; } /* up arrow color, should match page background color */

/* ribbon elements (wrap around) */

.ribbon .wrapAround	{ background-image: url("images/skins/skin-2/ribbon-wrap.png"); }	/* ribbon edge (wrap around, changes on scroll) */
.ribbon .tab		{ background-image: url("images/skins/skin-2/ribbon.png"); }		/* ribbon main section */

/* side navigation menu */

.widget .sideNavWrapper	{ background-image: url("images/skins/skin-2/side-navigation-repeat.gif"); }			/* side navigation bakdground */
.widget .sideNavBox-1	{ background-image: url("images/skins/skin-2/side-navigation-top.gif"); }				/* side navigation - top */	
.widget .sideNavBox-2	{ background-image: url("images/skins/skin-2/side-navigation-bottom.gif"); }			/* side navigation - bottom */
.widget ul li a, 
.widget ul.sideNav li a	{ border-bottom: 1px dotted #DBDBDC; }													/* side navigation links - bottom border */
.widget ul.sideNav li.currentPage, .widget ul.sideNav li.current-cat, .widget ul.sideNav li.current_page_item  	
						{ background-image: url("images/skins/skin-2/side-navigation-active.gif"); }			/* side navigation - current page marker */
.widget ul li.current_page_item a, widget ul.sideNav li.current_page_item a:link, 
.widget ul.sideNav li.current_page_item a:visited, .widget ul.sideNav li.current_page_item a:hover, 
.widget ul.sideNav li.current_page_item a:active, .widget ul li.current-cat a:link, .widget ul li.current-cat a:visited
						{ color: #2C2C2C; }																		/* side navigation - current page link */
widget ul.sideNav li.current_page_item a:link, .widget ul.sideNav li.current_page_item a:visited,
.widget ul.sideNav li.current_page_item a:hover, .widget ul.sideNav li.current_page_item a:active
						{ border-bottom: 1px solid #fff; }														/* side navigation - current page border bottom */

/* quote */

.quote 							{ background-image: url("images/skins/skin-2/quote-small-repeat.gif"); }	/* quote - background */
.quote .quoteBox-1				{ background-image: url("images/skins/skin-2/quote-small-top.gif"); }		/* quote - top */
.quote .quoteBox-1 .quoteBox-2	{ background-image: url("images/skins/skin-2/quote-small-bottom.gif"); }	/* quote - bottom */
.quote p						{ color: #000; }	/* quote - text */
.quoteAuthor p.name				{ color: #000; }	/* quote - author name */

/* button styles */

.btn		{ background-image: url("images/skins/skin-2/button-sprite.gif");}	/* button background - sliding doors side 1 */
.btn span	{ background-image: url("images/skins/skin-2/button-sprite.gif"); 	/* button background - sliding doors side 2 */
			  color: #fff;														/* text color */
			  text-shadow: 0 0 3px #333;}										/* text shadow */
.btn:hover span, .btnHover span { color: #fff; text-shadow: 1px 1px 1px #333; }	/* hover text */
.darkBg .btn, .darkBg .btn span, #Footer .btn, #Footer .btn span, #ContentPanel .btn, #ContentPanel .btn span  { 
	background-image: url("images/skins/skin-2/button-sprite-dark.gif"); }		/* buttons on dark backgrounds */
	
/* other */

.hr { background-image: url("images/skins/skin-2/hr-bg.gif"); }

div#fancybox-outer			{ background: #fff; } /* modal window background color */

/*Added by Matt */


.sf-menu a {

	padding:0px 15px 0px 15px;


}



.calc_buttons {background:url(/images/bluearrow_over.png) no-repeat top center; width:137px; height:85px; float:left; position: relative; color:#fff; padding-left:57px; padding-top:6px; font-size:11px;}

.calc_buttons input {

	width:75px;


}


.calc_buttons select {

	width:50px;
	font-size:14px;
	background-color: #e1e2e3;

background-image: url("images/skins/skin-2/inputBg.gif");

border-top-color: #c9cacb;

border-right-color-value: #ffffff;

border-bottom-color: #ffffff;

border-left-color-value: #c9cacb;


}


.calc_go {background:url(/images/go_over.png) no-repeat top center; width:105px; height:85px; float:left; position: relative; color:#fff; padding-left:40px; padding-top:6px; font-size:11px;}



.calc_buttons_over {background:url(/images/bluearrow.png) no-repeat top center; }

.calc_go_over {background:url(/images/go_up.png) no-repeat top center; }

.pos {margin-left: -40px; }
.pos_go {margin-left: -55px; }


.prod_calc_display {

width:124px;
height:135px;
margin-right:5px;
float:left;
text-align:center;
}

.no-right {

margin-right:0px;

}



.size1off {

background:url(/images/products/product_calc_01.png) no-repeat top center;

}


.size2off {

background:url(/images/products/product_calc_02.png) no-repeat top center;

}

.size3off {

background:url(/images/products/product_calc_03.png) no-repeat top center;

}

.size4off {

background:url(/images/products/product_calc_04.png) no-repeat top center;

}

.size45off {

background:url(/images/products/product_calc_045.png) no-repeat top center;

}

.size5off {

background:url(/images/products/product_calc_05.png) no-repeat top center;

}

.size6off {

background:url(/images/products/product_calc_06.png) no-repeat top center;

}





.size1on {

background:url(/images/products/product_calc_01_on.png) no-repeat top center;

}


.size2on {

background:url(/images/products/product_calc_02_on.png) no-repeat top center;

}

.size3on {

background:url(/images/products/product_calc_03_on.png) no-repeat top center;

}

.size4on {

background:url(/images/products/product_calc_04_on.png) no-repeat top center;

}


.size45on {

background:url(/images/products/product_calc_045_on.png) no-repeat top center;

}

.size5on {

background:url(/images/products/product_calc_05_on.png) no-repeat top center;

}

.size6on {

background:url(/images/products/product_calc_06_on.png) no-repeat top center;

}

.numfloat {


margin:0px auto;
margin-top:115px;
font-size:24px;
font-weight:bold;
line-height:24px;
padding:5px;



}

.numoff {

display:none;

}

.optionstext {

font-size:18px;



}

.optionstext img, .optionstext div {

float:left;

}

.optionstext div {


margin-left:10px;
padding-top:5px;
border-bottom:dotted 3px #CCCCCC;
width:200px;
text-align:center;

}



.calc_results {

color:#023874;
font-size:28px;
margin-left:35px;
text-align:center;
font-weight:bold;
width:200px;

}

.numfloat span {

background:#8dc463;
padding:5px;

}

#main_usa {
	
	
	
	
	
	
}

#map-holder {
	
	
overflow:hidden;	


position:absolute;
width:885px;
height:543px;
	
}

.marker {
	
	
	position:absolute; width:43px; height:57px; cursor:pointer; 
	
	
}




#marker-holder {
	

z-index:10; width:885px; height:543px; position:absolute; overflow:hidden; 
	
}

#map-container {

width:885px; height:543px; position:absolute; overflow:hidden; background:url(/images/map/background.jpg) repeat-x; border:1px solid #eaeaea;


}


#details_holder {


	width:365px;
	height:423px;
	position:absolute;
	background:url(/images/map/popup_bk.png) repeat-x;
	left:428px;
	top:30px;
	border:1px solid #adb5aa;
	z-index:999;
	padding:20px;
	color:#163e79;
	display:none;


}

#details_holder h1 {

font-size:28px;

margin-top:16px;
margin-bottom:10px;
font-weight:bold;

}

#facaddr {

font-size:16px;
margin-bottom:16px;


}

.buyshow {

margin-top:15px;

}


